@font-face {
	font-family: 'Yekan';
	src: url( '/src/yekan/Yekan.eot' );
	src: url( '/src/yekan/Yekan.eot' ) format( 'embedded-opentype' ),
		url( '/src/yekan/Yekan.woff2' ) format( 'woff2' ),
		url( '/src/yekan/Yekan.woff' ) format( 'woff' ),
		url( '/src/yekan/Yekan.ttf' ) format( 'truetype' ),
		url( '/src/yekan/Yekan.svg' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .section-min-height {
        min-height: calc(100vh - 68px)
    }

    .toggle-btn{
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg]
    }
}